$primary-color: #7A679B;
$secondary-color: #685155;
$tertiary-color: #8B85C1;
$light-color: #D4CDF4;
$other-color: #815E5B;


body { 
  margin: 0;
  background: $tertiary-color;
}

.navbar { 
  padding: 15px;
  background: $primary-color;
  display: flex;
  justify-content: space-evenly;
  -webkit-box-shadow: 0px 4px 2px 0px $secondary-color;
  -moz-box-shadow: 0px 4px 2px 0px $secondary-color;
  box-shadow: 0px 4px 2px 0px $secondary-color;
  li {
    list-style: none;
    font-size: large;
    a {
      text-decoration: none;
      color: $light-color;
      font-weight: 900;
      &:hover {
        color: white;
      }
    }
  }
}

.tooltip {
  position: absolute;
  max-width: 250px;
  padding: 5px;
  background: $primary-color;
  border-radius: 5px;
  pointer-events: none;
  box-shadow: 3px 3px 3px $secondary-color;
  h3 {
    text-align: center;
    color: $light-color;
  }
  hr {
    border: none;
    border-top: 1px solid $light-color;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 30px; 
  padding: 0px 0px 20px 0;
  border: 1px solid $light-color;
  background: $secondary-color;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px 4px 0px $secondary-color;
  -moz-box-shadow: 4px 6px 4px 0px $secondary-color;
  box-shadow: 4px 6px 4px 0px $secondary-color;
}

.graphDiv {
  // margin: 0 20px; 
  // padding: 0 20px;
  width: 100%;
  height: 100%;
}

.d3-flame-graph-tip {
  padding: 8px;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 2px 0px $secondary-color;
  -moz-box-shadow: 4px 4px 2px 0px $secondary-color;
  box-shadow: 4px 4px 2px 0px $secondary-color;
  background-color: $primary-color;
  font-size: large;
  color: whitesmoke;
}

.partition {
  padding: 0 40px 20px 40px;
}


.graph-title {
  margin: 10px 0;
  text-align: center;
  color: $light-color;
  font-size: x-large;
}

foreignObject {
  box-sizing: border-box;
  border: solid 1px $primary-color; 
}

.timeTravel{
  display: flex;
  flex-direction: column;
  margin: 20px 30px; 
  padding: 0px 0px 20px 0;
  border: 1px solid $light-color;
  background: $secondary-color;
  border-radius: 10px;
  -webkit-box-shadow: 4px 6px 4px 0px $secondary-color;
  -moz-box-shadow: 4px 6px 4px 0px $secondary-color;
  box-shadow: 4px 6px 4px 0px $secondary-color;
}
.state-log{
  display: flex;
  flex-direction: row-reverse;
  justify-content:space-evenly ;
}

